body {
  background: linear-gradient(220deg, #fbc6ff 60%, #bdfff9 30%);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #c281c7;
  font-size: 26px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: #c699c9;
}

a:hover {
  cursor: pointer;
  color: #ef51fa;
}

.news,
.horoscope,
.weather-forecast {
  font-family: monospace;
  color: #31c7ba;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;

  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

small {
  color: rgb(135, 135, 135);
}

.weather-app-border {
  padding: 10px;
  border: 3px solid #bdfff9;
  border-radius: 5px;
  background: white;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 1.5px solid rgb(135, 135, 135);
  border-radius: 5px;
  background: white;
}

.weather-forecast {
  margin-top: 10px;
  padding: 20px;
  border: 1.5px solid rgb(135, 135, 135);
  border-radius: 5px;
  background: white;
  text-align: center;
}

.overview {
  margin-bottom: 20px;
}

#city-input {
  background: linear-gradient(135deg, #fbc6ff 20%, #bdfff9 90%);
  color: rgb(135, 135, 135);
}

li::first-letter {
  text-transform: capitalize;
}

.weather-temperature img {
  margin-bottom: 32px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: rgb(135, 135, 135);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  color: rgb(135, 135, 135);
  font-size: 24px;
  top: -28px;
}

.weather-temperature .active {
  color: rgb(135, 135, 135);
  cursor: default;
}

.weather-forecast-date {
  font-size: 16px;
  color: rgb(135, 135, 135);
}

.weather-forecast-temperature {
  font-size: 14px;
  color: rgb(107, 107, 107);
}

.forecast-max {
  background: rgb(253, 253, 170);
}

.forecast-min {
  opacity: 0.5;
}
